/*------------------Header CSS----------------------*/
.header {
    background-image: url("../../assets/bg_user.png");
    background-size: cover;
    width: 100%;
    height: 490px;
    margin-top: -17px;
    padding-top: 16px;
  }
  
  .menu-header {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 5px;
    background-color: #000000;
  }
  
  .logo-header {
    width: 78px;
    height: 63px;
    border-right: 1px solid lightgray;
  }
  
  .left-menu-header input {
    width: 400px;
    height: 40px;
    float: left;
    display: inline;
    background-color: #f2f4f6;
  }
  
  .left-menu-header i {
    padding-top: 10px;
    font-size: 20px;
  }
  
  .right-menu-header {
    padding-left: 845px;
  }
  
  .right-menu-header i {
    color: black;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 10px;
  }
  
  .right-menu-header button {
    display: inline;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    border: 1px;
    font-weight: bold;
    text-align: center;
    background-color: #dddddd;
  }
  
  .intro-header {
    padding-left: 10%;
    padding-top: 12%;
  }
  
  .title-header {
    font-size: 60px;
    font-weight: 700;
    line-height: 81.84px;
    color: black;
    font-family: "Nunito";
  }
  
  .content-header {
    font-size: 30px;
    font-weight: 400;
    line-height: 34.1px;
    color: black;
    font-family: "Nunito";
  }
  
  .intro-header button {
    margin-top: 35px;
    border-radius: 160px;
    border: 2px solid white;
    color: white;
    box-sizing: border-box;
    background-color: transparent;
    width: 211px;
    height: 50px;
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 600;
    line-height: 24.55px;
  }
  
  .info-header{
    padding-top: 12%;
    padding-left: 7%;
    display: inline-flex;
  }
  
  .info-content{
    padding-left: 20px;
    padding-top: 10px;
    color: #FFFFFF;
    font-family: "Nunito";
  } 
  
  .info-content h5{
    color: #FFFFFF;
    font-weight: bold;
  }
  
  .info-tag{
    display: inline-flex;
  }
  
  .info-tag-1{
    text-align: center;
    width: 120px;
    margin-right: 10px;
    border: 1px solid #03A313;
    background-color: #03A313;
    border-radius: 160px;
  }
  
  .info-tag-2{
    text-align: center;
    width: 120px;
    margin-right: 10px;
    border: 1px solid #E29C06;
    background-color: #E29C06;
    border-radius: 160px;
  }
  
  /*-------------------Navigation----------------------*/
  
  .menu-navbar {
    margin-left: 80px;
  }
  
  .style-active {
    border-bottom: 2px solid #d9251c;
  }
  
  .menu-navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .menu-navbar li {
    position: relative;
  }
  .menu-navbar a,
  .menu-navbar a:focus {
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    transition: 0.3s;
  }
  .menu-navbar a i,
  .menu-navbar a:focus i {
    font-size: 16px;
    line-height: 0;
    margin-left: 5px;
  }
  .menu-navbar a:hover,
  .menu-navbar .active,
  .menu-navbar .active:focus,
  .menu-navbar li:hover > a {
    color: #d9251c;
  }
  
  /*-------------------Main, Card----------------------------*/
  
  .main {
    padding-top: 34px;
    padding-left: 134px;
    padding-right: 140px;
    padding-bottom: 53px;
    background-color: #e5e5e5;
  }
  
  .card {
    border-radius: 10px;
    margin-bottom: 48px;
  }
  
  .card-header {
    background-color: #ffffff;
  }
  
  .card-title {
    color: #979797;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 36px;
  }
  
  .card-text {
    color: #000000;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 36px;
  }
  
  .collapse-button {
    width: 100%; background-color: #f2f4f6; color: #000000; text-align: start; border: 0px solid #979797;
  }
  
  .nav-danhsach{
    width: 100%;
    line-height: 30px;
    margin-bottom: 30px;
    background-color: #F2F4F6;
    display: inline-flex;
    padding-top: 1%;
    border-radius: 5px;
    align-items: center;
    justify-content: center
  }
  
  .nav-danhsach p{
    color: #E02626;
    font-family: "Nunito";
    font-weight: bold;
    font-size: 20px;
  }
  
  .nav-ketqua{
    width: 100%;
    line-height: 30px;
    margin-bottom: 30px;
    background-color: #F2F4F6;
    display: inline-flex;
    padding-left: 81%;
    padding-top: 1%;
    border-radius: 5px;
  }
  
  .nav-ketqua p{
    font-size: 18px;
    font-family: "Nunito";
    padding-right: 10px;
    padding-top: 5px;
  }
  
  /*------------------Toggle button-------------------*/
  
  /* .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    top: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */
  
  /*------------------Footer CSS----------------------*/
  .footer {
    width: 100%;
    height: 416px;
    background-image: url("../../assets/bg_footer.png");
    background-size: cover;
    padding-left: 40px;
  }
  
  .logo-footer {
    padding-top: 117px;
    padding-left: 80px;
  }
  
  .info-footer {
    display: list-item;
    margin-top: -220px;
    padding-left: 615px;
  }
  
  .info-footer h5 {
    padding-bottom: 5px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #bd2a26;
    text-transform: uppercase;
  }
  .info-footer p {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 19px;
    color: black;
    padding-bottom: 10px;
  }
  .line-1 {
    padding-bottom: 33px;
  }
  
  .link-footer {
    display: list-item;
    margin-top: -295px;
    padding-left: 1200px;
  }
  
  .link-footer h5 {
    padding-bottom: 5px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #bd2a26;
    text-transform: uppercase;
  }
  .link-footer p {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 19px;
    color: black;
    padding-bottom: 10px;
  }
  
  .link-footer a {
    color: black;
  }
  
  .link-footer a:hover {
    color: cornflowerblue;
    text-decoration: none;
  }
  .line-2 {
    padding-bottom: 33px;
  }
  
  /*-------------IMPORT FONT---------------*/
  @font-face {
    font-family: "Nunito";
    src: url("../../font/Nunito/Nunito-Regular.ttf");
  }
  
  .scroll-section {
    max-height: 100px;
    overflow-y: auto;
  }
  